{
  "trailingComma": "all",
  "semi": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "semi": false,
        "singleQuote": true,
        "tabWidth": 4,
        "useTabs": true,
        "printWidth": 100,
        "bracketSpacing": true,
        "bracketSameLine": false,
        "arrowParens": "always",
        "singleAttributePerLine": false,
        "vueIndentScriptAndStyle": true
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "semi": false,
        "singleQuote": true,
        "tabWidth": 4,
        "printWidth": 100,
        "bracketSpacing": true,
        "bracketSameLine": false,
        "arrowParens": "always"
      }
    }
  ]
}
