.wrapper {
  position: relative;
}

.wrapper input {
  width: 100%;
  padding: 20px 10px 10px;
  max-width: 300px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.05em;
}

.wrapper span {
  position: absolute;
  left: 0;
  color: #8f8f8f;
  padding: 20px 10px 10px;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  pointer-events: none;
}
input {
  color: var(--accent);
}
.wrapper input:valid ~ span,
.wrapper input:focus ~ span {
  color: var(--accent);
  transform: translateY(-30%) translateX(-10px) scale(0.7);
}

.wrapper i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
}

.wrapper input:valid ~ i,
.wrapper input:focus ~ i {
  background: var(--accent);
}
